<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-assertive">
        <div class="buttons">
            <button class="button" on-tap="shareThisRes()">Share</button>
        </div>
        <h1 class="title">{{selectedAppt.address}}</h1>
        <div class="buttons">
            <button class="button" on-tap="closeSingleApartment()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <md-content layout="column">
            <div flex="20" layout="row" class="my-container">
                <map style="width:100%; height: 135px" init-event="init-map" center="[{{selectedAppt.lat}}, {{selectedAppt.lon}}]" zoom="11">
                    <street-view-panorama click-to-go="false" disable-default-u-i="true" disable-double-click-zoom="trueu" position="{{selectedAppt.lat}}, {{selectedAppt.lon}}" pov="{heading:270, pitch: -10}" scrollwheel="false" enable-close-button="false" visible="true">
                    </street-view-panorama>
                </map>
            </div>
            <div>
                <div>
                    <ion-list>
                        <div>
                            <ion-item class="item-stable" layout="row" ng-class="{active: isViolationShown($index)}">
                                <i flex="5" class="icon" ng-class="isViolationShown($index) ? 'ion-minus' : 'ion-plus'"></i>
                                <span flex="85" style="padding-left: 2%;">More indebt Info about property</span>
                                <!-- <span>{{violation.inspection_date | date:'MM/yy'}}</span> -->
                            </ion-item>
                            <md-content class="md-padding" >
                {{zillowData}}
                                
                            </md-content>
                        </div>
                    </ion-list>
                </div>
            </div>
        </md-content>
    </ion-content>
</ion-modal-view>
