<ion-view view-title="Stabilized Appartments">
    <ion-nav-bar class="bar-assertive">
       <!--  <ion-nav-buttons side="right">
            <md-button aria-label="menu" class="md-fab md-warn" id="focusItem" on-tap="openFilter()">
                <img src="images/food_icon.svg" style="width: 2em;margin-top: 26%;">
            </md-button>
        </ion-nav-buttons> -->
        <ion-nav-buttons side="left">
            <md-button layout="row" on-tap="checkCurrentRepeat('location')" style="padding: 0;margin: 0;">
                home
            </md-button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">
    <!--     <ng-map zoom="20" ng-if="selectedAppt" center="selectedAppt.lat, selectedAppt.lon">
            <marker position="{{selectedAppt.lat}}, {{selectedAppt.lon}}"></marker>
            <street-view-panorama click-to-go="false" disable-default-u-i="false" disable-double-click-zoom="false" position="selectedAppt.lat, selectedAppt.lon" pov="{heading: heading, pitch: pitch}" scrollwheel="false" enable-close-button="true" visible="true">
            </street-view-panorama>
        </ng-map> -->

        <div ng-repeat="apt in appartments">
        <basic-card ng-click="showAptDialog(apt)" ng-if="apt.unitsstab2014 !== 0"></basic-card>
        </div>
    </ion-content>
</ion-view>
